html {
  font-size: 15px;
  background: url(https://res.cloudinary.com/tico-cloudinary/image/upload/v1572751960/thirty_days_of_vanilla_js/kayle_cheeseburger_lkdtkn.jpg)
    top center;
  background-size: cover;
}

body,
html {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: 2px solid red;
  min-height: 100vh;
}

.kayle-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: #eb21bc;
  font-size: 3.5rem;
  font-family: 'Lobster Two', cursive;
  border-top: 5px solid #8fee01;
  border-bottom: 5px solid #8fee01;
  background: blue;
}

.keys {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 2rem;
  padding: 3rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
