body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(244, 132, 12);
}

.kayle-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #eb21bc;
  font-size: 4rem;
  font-family: 'Lobster Two', cursive;
  border-top: 10px solid #8fee01;
  border-bottom: 10px solid #8fee01;
  background: blue;
  text-align: center;
  padding: 40px;
  margin: 0;
  z-index: 4;
}

.wife-pic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 1;
}

.wife-pic {
  width: 100%;
}

.keys {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 60px 10px 60px;
  background: rgb(244, 132, 12);
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  /* margin: 3rem 1rem; */
  font-size: 1rem;
  transition: all 0.07s ease;
  width: 25%;
  height: 20%;
  text-align: center;
  color: #8fee01;
  background: purple;
  text-shadow: 0 0 0.7rem black;
}

.playing {
  transform: scale(1.1);
  border-color: blue;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
